@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration-color: #212121;
    transition: background-color 0.3s ease;
}

.body {
    background-color: #FFF;
    min-height: 100%;
    color: rgb(87, 87, 87)
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(37, 37, 37);
}

.dialogform {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
    padding: 10px;
    grid-gap: 10px;
}

.dialogform input,
.dialogform textarea {
    padding: 0 20px;
    margin-bottom: 10px;
    background: rgb(230, 228, 228);
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto';
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

input[type="submit"] {
    background-color: #BBDEFB;
}

.button:hover {
    background-color: #448AFF;
    color: white;
    cursor: pointer;
}


.grid {
    margin: 0;
    display: grid;
    grid-gap: 5px;
}

.header {
    grid-area: h;
    background-color: rgba(230, 228, 228, 0.788);
    border-radius: 0 0 15px 15px;
    box-shadow: 1px 2px 3px 1px grey;
}

nav {
    display: grid;
    background-color: #FFF;
    height: 100%;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #212121;
}

.nav a:hover {
    background-color: #BBDEFB;
}

#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}

#a3 {
    grid-area: a3;
}

#a4 {
    grid-area: a4;
}

#a5 {
    grid-area: a5;
}

.nav a.active {
    background-color: #448AFF;
    color: #FFF;
}

.content {
    grid-area: c;
    background-color: #FFF;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 1px 2px 5px 2px gray;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.footer {
    grid-area: f;
    background: rgba(77, 77, 77, 0.404);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
}
.spanout, spanerr {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spanout {
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    background: rgb(230, 228, 228);
}
.spanerr {
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    background: rgb(230, 228, 228);
    color: red;
}

/* Desktop Template */
@media screen /*and (min-width: 600px)*/
and (orientation: landscape) {
    .grid {

        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 45px auto 35px;
        grid-template-areas: "h h h h h h h h h h h h h h" ". . . c c c c c c c c . . ." "f f f f f f f f f f f f f f";

    }

    nav {
        grid-template-columns: repeat(auto, auto);
        grid-template-rows: auto;
        grid-template-areas: ". . a1 a2 a3 a4 a5 . .";
        line-height: 45px;
    }

    .nav a {
        margin: auto;
        height: 100%;
        width: 100%;
        border-left-style: solid;
        border-right-style: solid;
        border-width: 0.5px;
    }

    .footer {
        line-height: 35px;
    }

    #a1 {
        border-left-width: 1px;
        border-right-width: 0.5px;
    }

    #a5 {
        border-right-width: 1px;
        border-left-width: 0.5px;
    }
}

/* Smartphone Template */
@media screen /*and (max-width: 600px)*/
and (orientation: portrait) {
    .grid {
        grid-template-columns: repeat(auto, auto);
        grid-template-rows: auto auto 3em;
        grid-template-areas: "h" "c" "f";
        grid-gap: 2em;
    }

    nav {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "a1" "a2" "a3" "a4" "a5";
        line-height: 2em;
        font-size: 3em;
    }

    .nav a {
        margin: auto;
        height: 100%;
        width: 100%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 0.5px;
    }

    .footer {
        line-height: 2em;
        font-size: 2em;
    }

    #a1 {
        border-top-width: 1px;
        border-bottom-width: 0.5px;
    }

    #a5 {
        border-bottom-width: 1px;
        border-top-width: 0.5px;
    }

    .dialogform input,
    .dialogform textarea {
        line-height: 2.5em;
        font-size: 2.5em;
    }

    .dialogform {
        width: auto;
    }
}





